KERNEL_ARCH_CFLAGS:=
KERNEL_ARCH_CPPFLAGS:=
KERNEL_ARCH_LDFLAGS:=
KERNEL_ARCH_LIBS:=
 
KERNEL_ARCH_OBJS:=\
$(ARCHDIR)/debug.o \
$(ARCHDIR)/io.o \
$(ARCHDIR)/boot.o \
$(ARCHDIR)/tty.o \
$(ARCHDIR)/gdt_flush.o \
$(ARCHDIR)/gdt.o \
$(ARCHDIR)/pic.o \
$(ARCHDIR)/idt_flush.o \
$(ARCHDIR)/idt.o \
$(ARCHDIR)/isr.o \
$(ARCHDIR)/frames.o \
